* {
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}

body {
  font-family: "Roboto", sans-serif;
}

ul {
  list-style-type: none;
}

.morePicture {
  font-size: 30rem;
  margin-bottom: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

@import "./nav";
@import "./search";
@import "./footer";
@import "./picture";
